table{
    width: 40%;
    height: 30vh;
    margin: 100px auto;
}
table,
tr,
td,
th {
    
    border-collapse: collapse;
    border-left: 1.5px solid #2c3848;
    color: white;
    font-family: cursive;
}
th{
    background-color:#202932;
}
tbody tr td{
    padding-left: 8px;
}
tr:nth-child(even){
    background-color:#252d38;
}
tr:nth-child(odd){
    background-color:#2c3848;
}
tfoot tr td{
    text-align: center;
}
button{
    margin-left: 5px;
    padding: 5px 8px;
    border-radius: 8px;
    background-color: rgb(33, 227, 223);
    color: white;
    border: none;
}